<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 设置ios系统下的顶部状态栏的背景颜色 -->
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <!-- 在ios系统中 如果出现类似于电话号码的数字 会出现蓝色的字  你想调节样式  忽略电话号码  = no  样式就没有了 这是你就可以设置了 -->
  <meta content="telephone=no" name="format-detection">
  <title>乐淘云购</title>
  <!-- 1.引入的库 MUI-css文件 -->
  <link rel="stylesheet" href="../lib/mui/css/mui.min.css">
  <!-- 2.引入字体图标库fontawesome -->
  <link rel="stylesheet" href="../lib/fontAwesome/css/font-awesome.min.css">
  <!-- 3.引入公共样式 -->
  <link rel="stylesheet" href="../css/common.css">
  <!-- 4.引入本页面的样式 -->
  <link rel="stylesheet" href="../css/search.css">
  <!-- 5.引入标签上的图标 -->
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
  <!-- 头部 -->
  <header class="lt-header mui-bar mui-bar-nav">
    <!--  mui-plus-visible 隐藏 -->
    <!--  href="javascript:;" 防止a标签跳转
          javascript:;这是代表在冒号和分号之间写的是javascript代码
    -->
    <a class="fa fa-arrow-left mui-pull-left" href="javascript:history.back();"></a>
    <a href="./search/search.html" class="fa fa-search mui-pull-right mui-plus-visible"></a>
    <h1 class="mui-title">搜索结果</h1>
  </header>

  <!-- 底部 -->
  <footer class="lt-footer mui-bar mui-bar-tab">
    <a class="mui-item " href="../index.html">
      <i class="fa fa-home"></i>
      <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-item " href="../sort.html">
      <i class="fa fa-bars"></i>
      <span class="mui-tab-label">分类</span>
    </a>
    <a class="mui-item " href="../cart.html">
      <i class="fa fa-shopping-cart"></i>
      <span class="mui-tab-label">购物车</span>
    </a>
    <a class="mui-item" href="../center.html">
      <i class="fa fa-user"></i>
      <span class="mui-tab-label">会员中心</span>
    </a>
  </footer>
  <!-- 内容区域 加回弹 -->
  <main class="mui-content mui-scroll-wrapper" id="refreshContainer" style="padding: 44px 0;">
    <div class="mui-scroll">
      <!-- 搜索输入框 -->
      <div class="sort-search">
        <div class="search-box">
          <input type="text">
          <a class="search-btn" href="javascript:;">搜索</a>
        </div>
      </div>
      <!-- 排序方式 -->
      <div class="sort">
        <ul>
          <li>
            <a href="javascript:;">上架时间
              <i class="fa fa-angle-down"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">价格
              <i class="fa fa-angle-down"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">销量
              <i class="fa fa-angle-down"></i>
            </a>
          </li>
          <li>
            <a href="javascript:;">折扣
              <i class="fa fa-angle-down"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="lt-sports">
        <div class="lt-sports-content">
          <div class="item-wrap">
            <a class="item" href="javascript:;">
              <img src="../images/product.jpg" alt="">
              <span>
                adidas阿迪达斯 男式 场下休闲篮球鞋S83700
              </span>
              <b>&yen;560.00</b>
              <b>&yen;888.00</b>
              <button>立即购买</button>
            </a>
          </div>
          <div class="item-wrap">
            <a class="item" href="javascript:;">
              <img src="../images/product.jpg" alt="">
              <span>
                adidas阿迪达斯 男式 场下休闲篮球鞋S83700
              </span>
              <b>&yen;560.00</b>
              <b>&yen;888.00</b>
              <button>立即购买</button>
            </a>
          </div>
          <div class="item-wrap">
            <a class="item" href="javascript:;">
              <img src="../images/product.jpg" alt="">
              <span>
                adidas阿迪达斯 男式 场下休闲篮球鞋S83700
              </span>
              <b>&yen;560.00</b>
              <b>&yen;888.00</b>
              <button>立即购买</button>
            </a>
          </div>
          <div class="item-wrap">
            <a class="item" href="javascript:;">
              <img src="../images/product.jpg" alt="">
              <span>
                adidas阿迪达斯 男式 场下休闲篮球鞋S83700
              </span>
              <b>&yen;560.00</b>
              <b>&yen;888.00</b>
              <button>立即购买</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- 搜索结果模板 -->
  <script type="text/template" id="sr-template">
    <%for(var i = 0; i< data.length;i++) {%>
      <div class="item-wrap">
          <a class="item" href="./detail.html?id=<%=data[i].id%>">
            <img src="<%= data[i].pic[0].picAddr%>" alt="">
            <span>
             <%= data[i].proName%>
            </span>
            <b class="new">&yen;<%=data[i].price%></b>
            <b class="old">&yen;<%=data[i].oldPrice%></b>
            <button data-id="<%=data[i].id%>"  data-brand-id="<%=data[i].brandId%>">立即购<%=data[i].num%></button>
          </a>
        </div>  
        <%}%>
  </script>

  <!-- 引入zepto库 现在引入的zepto有问题 zepto有touch MUI也有touch 最后我会把zepto中的touch删掉-->
  <script src="../lib/zepto-notouch/zepto.min.js"></script>
  <!-- 引入MUI库  -js文件 -->
  <script src="../lib/mui/js/mui.min.js"></script>
  <!-- 引入模板引擎 -->
  <script src="../lib/artTemplate/template-native.js"></script>
  <!-- 引入公共js -->
  <script src="../js/common.js"></script>
  <!-- 引入本页面的js -->
  <script src="../js/searchList.js"></script>
</body>

</html>